<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Categorías | Poq</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" th:href="@{/Imagenes/logo_pestana.png}" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/formato-datos.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet" />


</head>

<body>
    <div th:replace="fragmento-navbar :: navbar"></div>
    <div class="contenido">
        <h2 class="titulo">LISTA DE CATEGORÍAS</h2>
        <span></span>
        <a class="crear" th:href="@{/categorias/crear}">Crear nueva Categoría</a>
        <span></span>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categoria: ${categorias} ">
                    <td th:text="${categoria.nombre}"></td>
                    <td>
                        <a th:href="@{/categorias/editar/__${categoria.idCat}__}">Editar</a>
                        <form th:action="@{/categorias/eliminar/__${categoria.idCat}__}" method="post">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
            </tbody>
        </table>
        <a class="crear" th:href="@{/control}">Volver</a>
    </div>
    <script th:src="@{/javaScript/navbar.js}"></script>
</body>

</html>