<!DOCTYPE html>
<html lang="en-ES" xmlns:th="http://www.thymeleaf.org">
<div class="posicion" th:fragment="tutorial">
    <div class="cajas">
        <img class="img-tutorial" th:src="@{/Imagenes/minitutorial_1.png}" alt="t1">
        <img class="img-tutorial" th:src="@{/Imagenes/minitutorial_2.png}" alt="t2">
        <img class="img-tutorial" th:src="@{/Imagenes/minitutorial_3.png}" alt="t3">
    </div>
    <div class="mobile">
        <img th:src="@{/Imagenes/imagen_appmovil.png}" alt="mobile">
    </div>

</div>

</html>