<!DOCTYPE html>
<html lang="en-ES" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="slider">
    <div class="slider">
        <ul>
            <li>
                <img th:src="@{/Imagenes/slider_1.png}">
            </li>
            <li>
                <img th:src="@{/Imagenes/slider_2.png}">
            </li>
            <li>
                <img th:src="@{/Imagenes/slider_1.png}">
            </li>
            <li>
                <img th:src="@{/Imagenes/slider_2.png}">
            </li>
        </ul>
    </div>
</div>

</html>