<!DOCTYPE html>
<html lang="en-ES" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Poq | Ayuda</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <link rel="shortcut icon" type="image/png" th:href="@{/Imagenes/logo_pestana.png}" />
  <link rel="stylesheet" th:href="@{/css/normalize.css}" />
  <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  <link rel="stylesheet" th:href="@{/css/ayuda.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet" />
</head>

<body style="background: none">



  <div class="contenido">
    <img th:src="@{/Imagenes/imagotipo_vertical.png}" alt="logo" class="logo-form" />
    <span></span>
    <h2 class="titulo">PREGUNTAS FRECUENTES</h2>
    <span></span>
    <p class="intro">
      Si tienes alguna duda, podés entrar a las siguientes preguntas
      frecuentes, donde encontrarás información sobre tus posibles
      cuestionamientos:
    </p>
    <span></span>
    <ul>
      <li>
        <h3>1. ¿Qué es POQ?</h3>
        <p>
          Es un servicio creado con el fin de administrar los recursos
          económicos de tu negocio de manera simple y eficaz.
        </p>
      </li>
      <span></span>
      <li>
        <h3>2. ¿Quién puede utilizar POQ?</h3>
        <p>
          Toda persona que ejerza una actividad económica y necesite tener el
          control de sus cuentas.
        </p>
      </li>
      <span></span>
      <li>
        <h3>3. ¿Qué necesito para utilizar POQ?</h3>
        <p>
          Primero debes crear tu cuenta, asegúrate de que sea un correo
          electrónico válido y que tu contraseña contenga al menos 6
          caracteres, entre mayúsculas, minúsculas y signos de puntuación.
        </p>
      </li>
      <span></span>
      <li>
        <h3>4. ¿Cómo se utiliza?</h3>
        <p>
          Regístrate y contempla las herramientas que hemos puesto a tu
          disposición en la sección de "Control". Navega por los apartados
          creando, modificando y eliminando a tu gusto, todos los datos que
          quieras. También te ofrecemos estadisticas para que puedas observar
          los resultados de tus acciones. ¡Simple y rápido!
        </p>
      </li>
      <span></span>
      <li>
        <h3>5. ¿Cuánto cuesta?</h3>
        <p>Nada, POQ es totalmente gratis.</p>
      </li>
      <span></span>
      <li>
        <h3>6. ¿Puedo utilizar en cualquier parte del mundo POQ?</h3>
        <p>
          Por el momento solo se puede utilizar en América Latina, muy pronto
          podrás utilizarlo en cualquier lugar, ¡en el momento que quieras!
        </p>
      </li>
      <span></span>
      <li>
        <h3>7. ¿No has resuelto tu duda?</h3>
        <p>
          Contáctanos a nuestro mail: "p.finalegg@gmail.com".
        </p>
      </li>
    </ul>
  </div>

  <script th:src="@{/javaScript/navbar.js}"></script>
</body>

</html>