<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Crear Ingreso | Poq</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" th:href="@{/Imagenes/logo_pestana.png}" />
  <link rel="stylesheet" th:href="@{/css/normalize.css}" />
  <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  <link rel="stylesheet" th:href="@{/css/registro-datos.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
  <div th:replace="fragmento-navbar :: navbar"></div>
  <div class="contenido">
    <h2 class="titulo">CREAR INGRESO</h2>
    <form class="regis" th:action="@{/ingresos/__${action}__}" method="POST" th:object="${ingreso}" autocomplete="off"
      novalidate>
      <ul>
        <li>
          <input type="text" id="descripcion" th:field="*{descripcion}" placeholder="Descripción" name="descripcion"
            required />
          <input hidden id="id" type="text" placeholder="id" th:field="*{id}" required
            th:readonly="${ingreso.id != null}" />
          <input type="date" id="fecha" th:field="*{fecha}" placeholder="Fecha" name="fecha" required />
          <input type="number" id="monto" th:field="*{monto}" placeholder="Monto" name="monto" required />
          <input type="text" id="nota" th:field="*{nota}" placeholder="Nota" name="nota" />
          <select id="categoria" class="form-select" aria-label="Elegir Categoría" th:field="*{categoria}">
            <option value="" selected>Elegir Categoría</option>
            <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" th:value="${categoria.idCat}">
            </option>
          </select>
          <select id="formasPago" class="form-select" aria-label="Elegir Forma de Pago" th:field="*{formasPago}">
            <option value="" selected>Elegir Forma de Pago</option>
            <option th:each="formasPago : ${formasPagos}" th:text="|${formasPago.tipo}|"
              th:value="${formasPago.idPago}">
            </option>
          </select>
      </ul>
      <button class="crear" type="submit" th:text="${action == 'guardar'} ? 'Crear' : 'Guardar cambios'"></button>
      <a class="cancelar" th:href="@{/egresos}">Cancelar</a>'
      </li>

    </form>

  </div>
  <script th:src="@{/javaScript/navbar.js}"></script>
</body>

</html>