<!--<!DOCTYPE html>
<html lang="en-ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registro</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" th:href="@{/Imagenes/logo_pestana.png}" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/style3.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="contenido">
        <form th:action="@{/usuario/guardar-usuario}" method="POST">
            <img class="logo-form" th:src="@{/Imagenes/titulo_registro.png}" alt="Poq-Registro" />
            <span></span>
            <span></span>
            <ul>
                <span></span>
                <li class="espacios">
                    <input class="placeholders" type="text" name="nombre" placeholder="Nombre" required />
                </li>
                <span></span>
                <li class="espacios">
                    <input class="placeholders" type="text" name="apellido" placeholder="Apellido" required />
                </li>
                <span></span>
                <li class="espacios">
                    <input class="placeholders" type="text" name="dni" placeholder="Dni" required />
                </li>
                <span></span>
                <li class="espacios">
                    <input class="placeholders" type="text" name="mail" placeholder="Email" required />
                </li>
                <span></span>
                <li class="espacios">
                    <input class="placeholders" type="text" name="contrasena" placeholder="Contraseña" required />
                </li>
                <span></span>

                <li class="enviar">
                    <input class="boton" type="submit" value="Enviar" />
                </li>
                <span></span>
                <li class="espacios">
                    <a class="iniciar-s" th:href="@{/Login}">¿Ya tiene un cuenta? Iniciar sesión.</a>
                </li>
                <a th:href="@{/Ayuda}">
                    <img class="ayuda-form" th:src="@{/Imagenes/boton_ayuda_gris.png}" alt="Poq-ayuda" />
                </a>

            </ul>
        </form>

    </div>
</body>

</html>-->